@import "../../styles/variable";
@import "../../styles/mixin";

.input__container {
  margin-top: 20px;
  margin-bottom: 50px;
}
.input__todoContainer {
  position: relative;
}

.input__todo {
  width: 90%;
  padding: 20px 5px 20px 100px;
}

.input__iconsContainer {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
}

.input__icon {
  color: $violate;
  font-size: 1.7rem !important;
  margin-right: 10px;
  cursor: pointer;
}
.input_values {
  transform: translateY(-50%);
  width: 50px;
  margin-right: 10px;
}
.input__taskTypeIcons {
  padding-left: 10px;
  @include flexbox;
  @include gap(10px);
  position: absolute;
  left: 10px; /* Adjust the left position as needed */
  top: 50%;
  transform: translateY(-50%);
}

.input__taskIcon {
  width: 18px !important;
  height: 18px !important;
  color: $peach;
}
