@import "variable";
@import "mixin";
// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

body {
  background-color: $purple;
  margin: 0;
  padding: 0;
  // font-family: "Roboto", sans-serif;
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.disable {
  color: $light_gray;
}

.personal__task {
  color: $peach;
}
.work__task {
  color: $yellow;
}
.freelance__task {
  color: $sky_blue;
}

.all__task {
  color: $violate;
}

.circle,
.checked__circleIcon {
  width: 16px !important;
  height: 16px !important;
  cursor: pointer;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

button:hover {
  transform: scale(1.02);
}

input[type="text"] {
  outline: 0;
  border: 0;
  border-radius: 12px;
  color: $gray;
  font-size: 17px;
  font-weight: 600;
}

.active {
  border-bottom: 2px solid $purple;
}
