@import "../../styles/variable";
@import "../../styles/mixin";

.layout__container {
  width: 65%;
  height: 80vh;
  border: 10px solid $white;
  border-radius: 24px;
  @include flexbox;
  position: relative;
  z-index: 100;
}

.layout__center {
  @include justify_content(center);
  @include align_items(center);
  height: 100vh;
}
.layout__mainContainer {
  padding: 60px;
}

.layout__skyCircle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: $sky_blue;
  position: absolute;
  top: -80px;
  left: 210px;
}

.layout__peachCircle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: $peach;
  position: absolute;
  bottom: -200px;
  left: -320px;
}
.layout__yellowCircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $yellow;
  position: absolute;
  top: 250px;
  right: -120px;
  z-index: -1;
}
