@import "../../styles/variable";
@import "../../styles/mixin";

.todo__container {
  width: 90%;
  background-color: $white;
  padding: 18px;
  margin-bottom: 10px;
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 20px;
}

.todo__contains {
  @include flexbox;
  @include align_items(center);
  @include gap(10px);

  p {
    color: $gray;
    font-weight: bold;
  }
}
.todo__value {
  width: 450px;
}

.todo__icons {
  @include flexbox;
  @include align_items(center);
  gap: 10px;
}

.todo__icon {
  color: $violate;
  cursor: pointer;
}
